# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Executable and Data Files (Antarctic data are too large)
*.dat
*.flt
*.hdr
anita_earthmodel_2017
bedmap2_bed.txt
bedmap2_surface.txt
gl04c_geoid_to_wgs84.txt
# Don't include the provided misspelled file either
gl04c_geiod_to_wgs84.txt
diagnostic.dat
bin/ANITA_EarthModel
diagnostic.dat
